html{background: url(../img/papercopy.png) repeat; font-family: 'Oxygen', sans-serif; }
body{position: absolute; top: 0; left: 0; height: 99%; width: 99%; }
input{text-align: center; }
footer{height: 100px; }
a{color: white; padding: 9px; margin: 5px; background: #393939; text-decoration: none; }
a:hover{color: dodgerblue; }
.center{margin:0 auto; width: 160px; }
.left{float: left; }
.right{float: right; }
.links{height: 40px; }

body.tiempo{
    width: 100%;
    margin: 0;
}

.tiempo div{
    width: 100%;
    background: url('../img/noestiempo.jpg') center center no-repeat;
    height: 100%;
    position: relative;
    background-size: contain;
}

#errordialog{
    display: none;
    background: #ED143D;
    color: white;
    padding: 15px;
}
    #errordialog a{
        text-decoration: underline;
        color: dodgerblue;
        font-size: 18px;
        background: none;
    }
    #errordialog a:hover{
        color: white;
    }

#radbutton{
    margin: 10px 98px;
}

body .content{
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    background: white;
    height: 70%;
    width: 90%;
    margin: 200 auto;

}

#indicaciones{
    width: 310px;
    margin: 0 auto 30 auto;
    opacity: 0.7;
    color: white;
    background: rgba(0,0,0,0.75);
    padding: 5px 15px;
}

#indicaciones:hover{
    opacity: 1.0;
}


.toogle{
    background: rgb(224,224,224); /* Old browsers */
    width: 1024px;
    cursor: pointer;
    margin: 30px auto -10px auto;
    z-index: 10;
    position: relative;
}


.slogan{

    height: 30px;
    text-align: center;
    padding: 3px;
    color: black;

}

#creadopor{
    height: 100px;
    position: absolute;
    bottom: 0px;
}
/*
div > a{
    color: #2c2c2c;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: -webkit-linear-gradient(#ffffff 0%, #cccccc 100%);
}
*/
#logo{
    height:111px;
    width: 259px;
    background: url(../img/logo.png) no-repeat;
}



#login{
    background: #fff;
    width: 300px;
    margin: 0 auto;
    height: auto;
    animation:mymove 0.8s;
    -moz-animation:mymove 0.8s; /* Firefox */
    -webkit-animation:mymove 0.8s; /* Safari and Chrome */
    -o-animation:mymove 0.8s; /* Opera */
}

    @keyframes mymove {
        from {  margin-top:-450px; }
        to   {  margin-top:60px; }
    }

    /* Firefox */
    @-moz-keyframes mymove {
        from {  margin-top:-450px; }
        to   {  margin-top:60px; }
    }

    /* Safari and Chrome */
    @-webkit-keyframes mymove {
        from {  margin-top:-450px; }
        to   {  margin-top:60px; }
    }

    /* Opera */
    @-o-keyframes mymove {
        from {  margin-top:-450px; }
        to   {  margin-top:60px; }
    }

#form {
    margin: 25px auto;
}
    #form input,
    textarea{
        background: #f0f5f5;
        margin: 10px auto;
        width: 200px;
        font-size: large;
        padding: 6px;
        border: none;
    }
        #form input #porc{
            width: 50px;
        }

        #form input:focus{
            width: 200px;
            background: gainsboro;
            outline: none;
        }

        .sanciones #form input:hover{
            width: 140px;
        }

        .sanciones #form input:focus{
            width: 140px;
        }

        #form input[type=submit]{
            background-color: #6c6c6c;
            color: white;
            margin: 20px auto;
            width: 140px;
            box-shadow: none;
            cursor: pointer;
        }

#sub{
    position: relative;
    left: 45%;
    width: 100px;
    font-size: 20px;
    margin-bottom: 30px;
}

.planilla-wrapper{
    padding: 15px;
    margin: 0 auto;
}

.planilla{
    width: 200px;
    background: white;
    margin: 13px 15px;
    padding: 5px;


}
    .planilla > h1{
        text-align: center;
        height: 70px;
        margin-bottom: 5px;
    }

.info2{
    margin-top: 10px;
    background: #e7e7e7;
    height: 15px;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
    font-family: sans-serif;
    font-size: 13px;
    margin: 0 auto;
    text-align: left;

    transition:height 1s;
    -moz-transition:height 1s;      /* Firefox 4 */
    -webkit-transition:height 1s;   /* Safari and Chrome */
    -o-transition:height 1s;        /* Opera */

}

.imagen1{
    overflow: hidden;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    z-index: 12;
    position: relative;
    cursor: pointer;
}

.img1{
    z-index: 1;
    position: relative;
}

.imagen2{
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

    .info2:hover{
        height: 400px;
        line-height: 1.5;
        overflow: auto;
    }

.title{
    color: #5a5a5a;
    margin: 0 auto;
    text-align: center;
}

.elecciones{
    background: #393939;
    width: 1024px;
    margin: 30px auto;
    padding-bottom: 20px;
    margin-top: 0px;
    z-index: 1;
    position: relative;
}

#content{
    margin-top: 0px;
}

#nav-bar{
    background: #393939;
    margin-top: 10px;
    text-decoration: none;
    background: #505050;
    height: 40px;
    width: 70%;
    float: right;
    margin-right: 1px;
    font-size: 20px;

}

    #nav-bar > ul{
            list-style-type:none;
            background: #393939;
            padding: 8px 0px 4px 6px;
            height: 30px;
            width: 100%;
            margin: 0;
            color: white;
    }

    #navstittle{
        color: white;
        font-weight: 800;
        margin: 0 auto;
        width: 300px;
    }

        #nav-bar ul li{
            padding: 0px 5px 0px 5px;
            display: inline;
        }
        #nav-bar ul li span{
            float: right;
            margin-right: 15px;
            padding-top: 5px;
        }
        #nav-bar ul li span a{
            font-size: 15px;
        }

.formcont{
    text-align: center;
    width: 260px;
    margin: 15px auto;
    color: gray;
    padding: 1px;
}

.formcont input{
    background: #fff;
    color: #919191;
}

#right { display:none; }

#login > span {
    position: absolute;
    margin-top: 5px;
}

.d-label{
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    font-family: sans-serif;
    color: black;
}

.sanciones{
    width: 300px;
    margin: 0 auto;
    height: auto;
    margin-bottom: 30px;
}
.sancion{
    background: white;
    padding: 12px;
    margin-bottom: 15px;
}

.motivos{
    margin-left: 15px;
}

#text{
    width: 240px;
    height: 80px;
}

#porc{
    width: 50px !important;
}

.graphs{
    margin-top: 0px;
}
    .graphs span{
        display: block;
        color: white;
        margin: 0 auto;
        width: 200px;
        text-align: center;
    }
    .graphs div#sedes{
        padding-bottom: 50px;
    }

#pgraph,
#tgraph,
#vgraph,
#tgraph1,
#tgraph2,
#tgraph3{
    margin: 15px 0 30px 0;
}


#tgraph1,
#tgraph2,
#tgraph3{
    float: left;
    margin: 0 auto;
    padding: 0 20px;
}

.tablas #tpgraph{
    float: left;
    margin-left: 15%;
}

.tablas div#sedes{
    width: 300px;
    margin-right: 15%;
    float: right;
}

.tablas div#sedes div{
    margin-left: 5%;
}
.tablas #sedes span{
    color: white;
}

.sedeswrapper{
    margin: 0 auto;
    width: 1020;
    padding: 50px;
    height: 300px;
}

#admin-menu{
    margin-top: 12px;
}

.admin-option {
    width: 240px;
    margin: 20px auto;
    font-size: 20px;
}

.admin-option a {
    text-align: center;
    padding: 15px;
    background: #393939;
    display: block;
}

.navmenu{
    position: absolute;
}

#tabify{
    position: fixed;
    left: 150px;
    top: 215px;
}

    #tabify li{
        list-style: none;
        background: #393939;
        padding: 10px;
    }

    #tabify li a{
        margin: 0;
        padding: 0;
    }
/**/
.flip {
  -webkit-perspective: 800;
  display: inline-block;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .card {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  -webkit-backface-visibility: hidden ;
  z-index: 2;
  display: inline-block;
}
.flip .card .front {
    z-index: 1;
}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
  position: absolute;
  background: white;
  height: 395px;
  top: 13px;
  left: 5px;
  padding: 15px;
  text-align: justify;

}

.flippin-back, .flippin{
    background: dodgerBlue;
    padding: 5px;
    color: white;
    cursor: pointer;


}

.flippin{
}
.flippin-back{
    bottom: 0px;
    left: 5px;
    position: absolute;
}

/**/
